#container {
  width: 500px; /* Define a largura do container */
  margin: 10px auto; /* Centraliza o container na página */
  border: 1px solid #000; /* Borda preta para visualização do container */
  position: relative; /* Necessário para posicionar a seta corretamente dentro do container */
}


#quadrado {

  width: 100px;
  height: 100px;
  background-color: #ff0000; /* Cor vermelha */
  border: 5px soid #000000; /* Borda preta */
}

#triangulo {
    
    width: 0;
    height: 0;
    border-left: 50px solid #00FF00; /* Borda verde à esquerda */
    border-right: 50px solid #002aff; /* Borda verde à direita */
    border-bottom: 100px solid #000000; /* Base transparente */
}
#circulo {

    width: 100px;
    height: 100px;
    background-color: #fff000; /* Cor amarela */
    border-radius: 50%; /* Arredonda as bordas para criar um círculo */
  }

/* Estilo para a estrela */
#estrela {
    width: 100px;
    height: 100px;
    background-color: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

#coracao {
    
    margin: 70px;
    background-color: red;
    height: 100px;
    transform: rotate(-45deg);
    width: 100px;
    position: relative;
}

#coracao:before,
#coracao:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 100px;
    position: absolute;
    width: 100px;
}

#coracao:before {
    top: -50px;
}

#coracao:after {
    left: 50px;

}

#ceu {
    width: 200px;
    height: 100px;
    background: linear-gradient(to right, #007bff 0%, #00C8FF 50%, #FFFFFF 100%); /* Gradiente de azul para branco */
    position: relative; /* Necessário para o posicionamento absoluto do sol funcionar */
}

#sol {
    width: 50px;
    height: 50px;
    background-color: #FFFF00; /* Cor amarela */
    border-radius: 50%; /* Arredonda as bordas para criar um círculo */
    position: absolute; /* Posicionamento absoluto para sobrepor ao céu */
    top: 50%; /* Posiciona o sol no topo */
    left: 50%; /* Posiciona o sol à esquerda */
    transform: translate(-50%, -50%); /* Ajusta o sol para que seu centro esteja na posição especificada */
}

#seta-direita {
    width: 100px;
    height: 100px;
    background-color: #007bff;/* cor azul */
    clip-path: polygon(0% 30%, 70% 30%, 70% 0%, 100% 50%, 70% 100%, 70% 70%, 0% 70%,0% 30%);
